<!--
  Developer: Meher Salim
  File:      projects.component.html
-->

<section class="projects">
  <h1>My Projects</h1>
  <p>Here are some of the projects I have worked on. Click on the project title to view more details or the source code.</p>

  <div class="projects-grid">
    <div *ngFor="let project of projects" class="project-card">
      <h2><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></h2>
      <p>{{ project.description }}</p>
      <div class="technologies">
        <h3>Technologies Used:</h3>
        <ul>
          <li *ngFor="let tech of project.technologies">{{ tech }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>