/*
  Designer: Meher Salim
  File:     app.component.css
*/

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.logo img {
  height: 50px;
}

/* Main Styles */
main {
  margin: 5px;
  padding: 15px;
  flex-grow: 1;
  background-color: #FEC5BB;
}

h1 {
  font-family: Bailey;
  padding: 10px;
  text-align: center;
  font-size: 150px;
}

h1 a {
  text-decoration: none;
  color: #333;
}

/* Footer styling */
.site-footer {
  background-color: #DED6CE;
  color: #333;
  text-align: center;
  padding: 20px 0;
  font-family: 'Arial', sans-serif;
  width: 100%;
}

/* Footer content styling */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Social media icon links */
.social-media a {
  display: inline-block;
  margin: 0 5px;
}

.social-media img {
  width: 24px; /* Adjust size as needed */
  height: auto;
}

/* Footer copyright text */
.copyright {
  margin-top: 10px;
}