<!--
  Developer:   Meher Salim
  File:        app.component.html
  Description:
-->

<header>
  <nav class="navbar">
    <ul>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/resume">Resume</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a routerLink="/home"><img src="../assets/" alt="Logo"></a>
  </div>
</header>

<main>
  <h1><a routerLink="/home">Hello, {{ title }}</a></h1>
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="https://github.com/mesalim-bellevue" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <img src="../assets/images/icons/github.png" alt="GitHub">
      </a> 
      <a href="https://www.linkedin.com/in/meher-salim-767976269/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <img src="../assets/images/icons/linkedin.png" alt="LinkedIn">
      </a>
      <a href="https://www.instagram.com/mehersalim14/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <img src="../assets/images/icons/instagram.png" alt="Instagram">
      </a>
      <a href="https://www.youtube.com/@allthingsmagical-myedition" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
        <img src="../assets/images/icons/youtube.png" alt="YouTube">
      </a>
    </div>
    <p class="copyright">
      © 2024 Meher Salim. All rights reserved.
    </p>
  </div>
</footer>
