<!-- My Overview -->
<section class="profile">
  <h2>Meher Salim</h2>
  <p>Web Designer and Developer</p>
</section>

<!-- My History-->
<section class="intro">
  <h3>My History with Code</h3>
</section>

<!-- Skills -->
<section class="skills-overview">
  <h3>Skills</h3>
</section>

<!-- Projects -->
<section class="projects-overview">
  <h3>Projects Overview</h3>
  <div class="projects-container">
    <div class="project-card">
      <div class="card-content">
        <h4>Project Name</h4>
        <p>image and link for more info</p>
      </div>
    </div>
    <div class="project-card">
      <div class="card-content">
        <h4>Project Name</h4>
        <p>image and link for more info</p>
      </div>
    </div>
    <div class="project-card">
      <div class="card-content">
        <h4>Project Name</h4>
        <p>image and link for more info</p>
      </div>
    </div>
  </div>
</section>
